<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-expand" >
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/listTasks">List Tasks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/newTask">Add New Task</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/updateTask">Update a Task</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/deleteTask">Delete a Task</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/listDevelopers">List Developers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/newDeveloper">Add New Developer</a>
            </li>
        </ul>
    </div>
</nav>