<!DOCTYPE html>
<html lang="en">
<head>
    <% include includes/header %>
</head>
<body>
<% include includes/navigation %>

<div class="container-fluid bg-3 text-center">
    <div class="row">
        <form action="/deleteTask" method="post">
            <div class="form-group">
                <label for="name">Task ID</label>
                <input class="form-control" id="taskID" name="taskID"/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <br>
    <div class="row">
        <form action="/deleteCompletedTasks" method="post">
            <button type="submit" class="btn btn-primary">Delete Completed Tasks</button>
        </form>
    </div>
    <br>
    <div class="row">
        <form action="/deleteAllTasks" method="post">
            <button type="submit" class="btn btn-primary">Delete All Tasks</button>
        </form>
    </div>
</div>

</body>
</html>