<!DOCTYPE html>
<html lang="en">
<head>
    <% include includes/header %>
</head>
<body>
<% include includes/navigation %>

<div class="container-fluid bg-3 text-center">
    <div class="row">
        <table class="table">
            <thead>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Assignee</th>
            <th scope="col">Due Date</th>
            <th scope="col">Status</th>
            <th scope="col">Description</th>
            </thead>
            <tbody>
            <% if (tasks.length > 0) { %>
                <% for ( var i = 0; i < tasks.length; i++){ %>
                    <tr>
                        <td>
                            <%= tasks[i]._id %>
                        </td>
                        <td>
                            <%= tasks[i].name %>
                        </td>
                        <td>
                            <%= tasks[i].developer.name.firstName + ' ' + tasks[i].developer.name.surname %>
                        </td>
                        <td>
                            <%= tasks[i].due %>
                        </td>
                        <td>
                            <%= tasks[i].status %>
                        </td>
                        <td>
                            <%= tasks[i].description %>
                        </td>
                    </tr>
            <% }} else { %>
                <div class="alert alert-danger" role="alert">
                    Task list is empty
                </div>
            <% } %>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>