<!DOCTYPE html>
<html lang="en">
<head>
    <% include includes/header %>
</head>
<body>
<% include includes/navigation %>

<div class="container-fluid bg-3 text-center">
    <div class="row">
        <table class="table">
            <thead>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Level</th>
            <th scope="col">Address</th>
            </thead>
            <tbody>
            <% if (developers.length > 0) { %>
                <% for ( var i = 0; i < developers.length; i++){ %>
                    <tr>
                        <td>
                            <%= developers[i]._id %>
                        </td>
                        <td>
                            <%= developers[i].name.firstName + ' ' + developers[i].name.surname %>
                        </td>
                        <td>
                            <%= developers[i].level %>
                        </td>
                        <td>
                            <%= developers[i].address.state %>
                            <br>
                            <%= developers[i].address.suburb %>
                            <br>
                            <%= developers[i].address.street %>
                            <br>
                            <%= developers[i].address.unit %>
                        </td>
                    </tr>
            <% }} else { %>
                <div class="alert alert-danger" role="alert">
                    Task list is empty
                </div>
            <% } %>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>