<!DOCTYPE html>
<html lang="en">
<head>
    <% include includes/header %>
</head>
<body>
<% include includes/navigation %>

<div class="container-fluid bg-3 text-center">
    <div class="row">
        <form action="/addDeveloper" method="post">
            <div class="form-group">
                <label for="name">Developer First Name</label>
                <input class="form-control" id="name" name="name" type="text"/>
            </div>
            <div class="form-group">
                <label for="surname">Developer Surname</label>
                <input class="form-control" id="surname" name="surname" type="text"/>
            </div>

            <div class="form-group">
                <label for="level">Developer Level</label>
                <select class="browser-default custom-select" id="level" name="level">
                    <option value="Beginner" selected>Beginner</option>
                    <option value="Expert">Expert</option>
                </select>
            </div>

            <div class="form-group">
                <label for="state">State</label>
                <input class="form-control" id="state" name="state" type="text"/>
            </div>

            <div class="form-group">
                <label for="suburb">Suburb</label>
                <input class="form-control" id="suburb" name="suburb" type="text"/>
            </div>

            <div class="form-group">
                <label for="street">Street</label>
                <input class="form-control" id="street" name="street" type="text"/>
            </div>

            <div class="form-group">
                <label for="unit">Unit</label>
                <input class="form-control" id="unit" name="unit" type="text"/>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

</body>
</html>