<!DOCTYPE html>
<html lang="en">
<head>
    <% include includes/header %>
</head>
<body>
<% include includes/navigation %>

<div class="container-fluid bg-3 text-center">
    <div class="row">
        <form action="/addTask" method="post">

            <div class="form-group">
                <label for="name">Task Name</label>
                <input class="form-control" id="taskName" name="taskName"/>
            </div>

            <div class="form-group">
                <label for="name">Task Assignee (Select Developer)</label>
                <select class="browser-default custom-select" id="taskAssignee" name="taskAssignee">
                    <% for ( var i = 0; i < developers.length; i++){ %>
                        <option value="<%= developers[i]._id %>"><%= developers[i].name.firstName + ' ' + developers[i].name.surname + ' | ' + developers[i].level %></option>
                    <% } %>
                </select>
            </div>

            <div class="form-group">
                <label for="due">Task Due</label>
                <input class="form-control" id="taskDue" name="taskDue" value="<%= Date.now() %>">
            </div>

            <div class="form-group">
                <label for="due">Task Status</label>
                <select class="browser-default custom-select" id="taskStatus" name="taskStatus">
                    <option value="InProgress" selected>InProgress</option>
                    <option value="Complete">Complete</option>
                </select>

            </div>

            <div class="form-group">
                <label for="desc">Task Description</label>
                <input class="form-control" id="taskDescription" name="taskDescription"/>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

</body>
</html>