<!DOCTYPE html>
<html lang="en">
<head>
    <% include includes/header %>
</head>
<body>
<% include includes/navigation %>

<div class="container-fluid bg-3 text-center">
    <div class="row">
        <form action="/updateTask" method="post">
            <div class="form-group">
                <label for="name">Task ID</label>
                <input class="form-control" id="taskID" name="taskID"/>
            </div>
            <div class="form-group">
                <label for="due">Task Status</label>
                <select class="browser-default custom-select" id="taskStatus" name="taskStatus">
                    <option value="InProgress" selected>InProgress</option>
                    <option value="Complete">Complete</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

</body>
</html>